<div class="jumbotron center">
	<h1>About DeerShare<h1>
	<p>
	</p>
	<h3>DeerShare was created to allow hunters and meat lovers to connect sharing healthy food. DeerShare is a donation based site and prides itself on connecting charitable causes with healthy meat. More to be added here.</h3>

	<h3>List heart warming stories...
	</h3>
	<end>
</div>