<div class="jumbotron center">
	<h1>DeerShare</h1>
	<h2>Connecting hunters and eaters.
	<p></p>
	<p>
		<%= link_to "Find", "#", class: "btn btn-primary btn-lg" %>	
		<%= link_to "Share", "#", class: "btn btn-primary btn-lg" %>
	</p>
</div>