<div class="jumbotron center">
	<h1>DeerShare</h1>
	<h2>Connecting hunters and eaters.</h2>
	<% if user_signed_in? %>
		<%= link_to "Find", "#", class: "btn btn-primary btn-lg" %>	
		<%= link_to "Share", "#", class: "btn btn-primary btn-lg" %>
	<% else %>
		<p>
			<%= link_to "Log In", new_user_session_path, class: "btn btn-primary btn-lg" %>	
			<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
		</p>
	<% end %>
</div>